@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: white;
    font-family: Arial, sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Custom Flex Class */
.custom-flex {
    display: flex;
    justify-content: center;
    align-items: center; /* Center vertically */
}

.custom-relative {
    position: relative;
}

.custom-max-w-lg {
    max-width: 600px; /* Adjust as needed */
}

.custom-max-w-sm {
    max-width: 300px; /* Adjust as needed */
}

.custom-bg-white {
    background-color: white;
}

.custom-shadow-md {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.custom-rounded-lg {
    border-radius: 0.5rem;
}

.custom-p-4 {
    padding: 1rem;
}

.custom-mt-2 {
    margin-top: 0.5rem;
}

.custom-ml-4 {
    margin-left: 1rem;
}
/* Desktop styles */
body {
    font-size: 16px;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* Tablet styles */
  @media (max-width: 768px) {
    body {
      font-size: 14px;
    }
  
    .container {
      padding: 0 10px;
    }
  }
  
  /* Mobile styles */
  @media (max-width: 480px) {
    body {
      font-size: 12px;
    }
  
    .container {
      padding: 0 5px;
    }
  }
  